body {
	font-family: Verdana;
	font-size: 10pt;
}
a:link {
	color:  0097D1;
}
a:visited {
	color:  0097D1;
}
a:active {
	color:  0097D1;
}
a:hover {
	color:  0097D1;
}
#map-container {
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #ccc #999 #ccc;
	-webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	-moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
	width: 700px;
}
#map-canvas {
	width: 700px;
	height: 600px;
}